.flex-container div {
    background: lightslategray;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-container .bio {
    text-align: center;

}

.flex-container .one {
    text-align: center;

}
  
.flex-container .two {
    text-align: center;
}

.flex-container .three {
    text-align: center;
}

.flex-container .four {
    text-align: left;
}
